name: Code Quality

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:

  lint:
    name: Code Inspections
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install UV
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
          enable-cache: true

      - name: Setup Project
        run: uv sync

      - name: Ruff
        run: uv run ruff check

      - name: Formatting
        run: uv run ruff format --check